#container {
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 25px darkgray;
    padding-bottom: 20px;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
}

td,
th {
    border: 1px solid darkgray;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    color: red
}

.grd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px;
    border-top: 2px solid red;
    width: 550px;
    margin: 0 auto;
}

.lft div {
    position: relative;
    border: 10px solid transparent;
    border-right: 10px solid orangered;
    top: 25px;
    cursor: pointer;
    left: -169px;
}

.rght div {
    position: relative;
    border: 10px solid transparent;
    border-left: 10px solid orangered;
    top: 25px;
    cursor: pointer;
    right: -169px;
}

.p1 {
    text-transform: uppercase;
    color: blue;
    font-size: 26px;
    font-weight: 900;
    margin: 10px 0 0 0;
    text-align: center;
}

.p2 {
    text-align: center;
    color: blue;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
}